<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://www.baeldung.com/spring-boot-logging -->
    <property name="LOGS" value="./logs" />

    <appender name="roleSiftingAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>caiway-pinger</key>
            <defaultValue>system</defaultValue>
        </discriminator>
        <sift>
            <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS}/${caiway-pinger}.log</file>
                <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                    <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                        <prettyPrint>false</prettyPrint>
                    </jsonFormatter>
                    <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
                    <appendLineSeparator>true</appendLineSeparator>
                </layout>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily and when the file reaches 10 MegaBytes -->
                    <fileNamePattern>${LOGS}/archived/${caiway-pinger}-%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="roleSiftingAppender" />
    </root>
</configuration>